// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Banner */

	#award {
		background-image: url('images/Awards_Bar.png');
		background-repeat: repeat-y;
		background-size: 100% auto;
		background-position: center;
		.row{
			padding: 0 5em; 
		}
		.pics{
			display: none;
			height:  110px;  
		    width:  100%;  
		    padding: 0;  
		    margin:  0;  
			img{
				margin: 0 auto;
				height: 100px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		li{
			list-style-type: none;
			img{
				width: 100%;
			}
		}
		

		@include breakpoint(xlarge) {
		}
		@include breakpoint(large) {
		}

		@include breakpoint(medium) {
		}

		@include breakpoint(small) {
			.row{
				display: none;
			}
			.pics{
				display: block;
			}
		}

		@include breakpoint(xsmall) {
		}
	}