// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Banner */

	#banner {
		@include padding(8em, 0);
		background: transparent;
		text-align: center;
		img{
			max-width: 960px;
			width:60%;
			opacity: 1;
			@include vendor('animation-name', 'logo-scale');
			@include vendor('animation-duration', '0.5');
			@include vendor('animation-iteration-count', 'infinite');

		}
		@include vendor('animation', 'logo-fadein 2s');

		@include vendor-keyframes('logo-fadein') {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}
		
		@include vendor-keyframes('logo-scale') {
			0% { @include vendor('transform','scaleX(1.00) scaleY(1.00)') }
			100% { @include vendor('transform','scaleX(1.20) scaleY(1.20)')  }
		}

		h2 {
			font-size: 4em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}

		@include breakpoint(xlarge) {
		}

		@include breakpoint(large) {

			h2 {
				font-size: 3.5em;
			}
		}

		@include breakpoint(medium) {
		}

		@include breakpoint(small) {

			h2 {
				font-size: 2.25em;
			}

			p {
				font-size: 1.25em;
			}
		}

		@include breakpoint(xsmall) {
		}
	}