// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Banner */

	#banner {

		background: url('images/Logo_bg.png');
		background-size: 100% auto;
		background-position: 50% 70%;
		background-repeat: no-repeat;

		padding: 8em 0px 2em;
		text-align: center;
		#main-logo{
			max-width: 960px;
			width:60%;
			opacity: 1;
			@include vendor('animation', 'logo-scale 0.5s cubic-bezier(.23,1,.32,1) 0s infinite alternate');
		}
		@include vendor('animation', 'logo-fadein 2s');

		@include vendor-keyframes('logo-fadein') {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}
		
		@include vendor-keyframes('logo-scale') {
			0% { @include vendor('transform','scaleX(1) scaleY(1)') }
			96% { @include vendor('transform','scaleX(0.9) scaleY(0.9)')  }
			100% { @include vendor('transform','scaleX(0.9) scaleY(0.9)')  }
		}

		h2 {
			font-size: 4em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}

		@include breakpoint(xlarge) {
		}

		@include breakpoint(large) {

			h2 {
				font-size: 3.5em;
			}
		}

		@include breakpoint(medium) {
		}

		@include breakpoint(small) {
			img{
				width: 90%;
			}

			h2 {
				font-size: 2.25em;
			}

			p {
				font-size: 1.25em;
			}
		}

		@include breakpoint(xsmall) {
		}
	}