// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Footer */
	



	@include vendor-keyframes('footer-fadein') {
		0% { bottom: -5em; }
		100% { bottom: 0; }
	}
	@include vendor-keyframes('footer-fadeout') {
		0% { bottom: 0; }
		100% { bottom: -10em; }
	}
	#footer {

		position: fixed;
		width: 100%;
		&.active{
			@include vendor('animation', 'footer-fadein 1s');
			
			bottom: 0px;
			
		}
		&.deactive{
			@include vendor('animation', 'footer-fadeout 1s');

			bottom: -10em;
		}

		padding: 2em 2em 0 2em ; 
		background-image: url('images/footer-bg.png');
		background-size: auto 100%;
		background-repeat: repeat-x;
		a{
			margin: 0 auto;

			text-align: center;
			img{
				display: block;
				margin: 0 auto;
				max-width: 180px;
			}
		}

		.copyright {
			color: _palette(fg);
			font-size: 0.9em;
			//margin: _size(element-margin)*0.5 0 _size(element-margin)*0.5 0;
			padding: 0;
			text-align: center;
			margin-bottom: 2.5em;

			li {
				border-left: solid _size(border-width) _palette(border);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
		@include breakpoint(medium) {
			//@include padding(2em, 0);

			a{
				margin: 0 auto;
				text-align: center;
				img{
					display: block;
					margin: 0 auto;
					max-width: 150px;
				}
			}
		}
		@include breakpoint(small) {
			//@include padding(2em, 0);

			a{
				margin: 0 auto;
				text-align: center;
				img{
					display: block;
					margin: 0 auto;
					max-width: 120px;
				}
			}
			.copyright {
				margin-bottom: 1em;
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}