// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Header */

	body {
		//padding-top: 3.125em;
		background-image: url("images/bg.png");
		background-repeat: repeat;
		background-attachment: fixed;
		@include vendor('animation', 'bg-move 90s linear 0s infinite normal');

	}

	@include vendor-keyframes('bg-move') {
		0% { background-position: 100% 100%; }
		100% { background-position: 0 0;}
	}
	
	#header {
		background-image: url('images/hr.png');
		background-repeat: no-repeat;
		background-size:30% auto;
		background-position: 50% 20%;

		&.active{
			@include vendor('animation', 'top-border-fadein 2s');
		}
		&.deactive{
			@include vendor('animation', 'top-border-fadeout 2s');	
			top:-10em;
		}
		width: 100%;
		position: fixed;

		div{
			img{
				padding:1em;
				width: 80%;
				@include breakpoint(small) {
					padding:0em;
					width: 100%;
				}
			}
			
		}
		#t-l{
			&.active{
				@include vendor('animation', 'top-border-fadein-l 2s');
			}
			&.deactive{
				@include vendor('animation', 'top-border-fadeout-l 2s');	
				left:-10em;
			}
			position: relative;
		}
		#t-r{
			&.active{
				@include vendor('animation', 'top-border-fadein-r 2s');
			}
			&.deactive{
				@include vendor('animation', 'top-border-fadeout-r 2s');	
				right:-10em;
			}
			img{
				@include vendor('transform', 'scaleX(-1)');
			}
			text-align: right;
			position: relative;
		}
	}
	@include vendor-keyframes('top-border-fadein') {
			0% { opacity: 0;top:-3em; }
			100% { opacity: 1;top:0; }
	}
	@include vendor-keyframes('top-border-fadeout') {
			0% { opacity: 1;top:0; }
			100% { opacity: 0;top:-10em; }
	}
	@include vendor-keyframes('top-border-fadein-l') {
			0% { left: -3em}
			100% { left: 0em}
	}
	@include vendor-keyframes('top-border-fadeout-l') {
			0% { left: 0em}
			100% { left: -10em}
	}
	@include vendor-keyframes('top-border-fadein-r') {
			0% { right:-3em; }
			100% { right:0em; }
	}
	@include vendor-keyframes('top-border-fadeout-r') {
			0% { right:0; }
			100% { right:-10em; }
	}